.container {
  display: flex;
  flex-direction:column;
  width: 480px;
  margin-top: 180px;
  position: absolute;
  justify-content: center;
  align-items: center;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.link {
  text-decoration: none;
  color: #4C4CFF;
}